{% extends 'componentes/interno/base.html' %}
{% load static %}

{% block content %}
           <div class="content-wrapper">
            {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body" style="position: relative;">
                    <div style="position: absolute; right: 20px;">
                        {% if usuario_alvo.usuario.get_image_base64 %}
                            <img src="data:image/jpeg;base64,{{ usuario_alvo.usuario.get_image_base64 }}"
                                 class="rounded-circle"
                                 style="width: 100px; height: 100px; object-fit: cover;">
                        {% else %}
                            <i class="mdi mdi-account-circle" style="font-size: 100px;"></i>
                        {% endif %}

                    </div>
                    <h3 class="card-title">
                        {{ usuario_alvo.get_username }}
                    </h3>
                    <!-- Empresas cadastradas, elas vão aparecer no perfil do usuário e vai ter redirecionamento para a página da empresa -->
                    {% if usuario_alvo.usuario.empresas.all %}
                    <h4 class="card-title mt-4">Empresas Associadas</h4>
                    <ul class="list-arrow">
                        {% for empresa in usuario_alvo.usuario.empresas.all %}
                        <span>
                            <a href="{% url 'empresa:perfil_empresa' empresa.pk %}" class="mr-3"> <strong>{{ empresa.nome }}</strong></a>
                        </span>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <p class="card-description">Membro desde: {{ usuario_alvo.date_joined|date:"d/m/Y" }} <br></p>
                    {% if user == usuario_alvo %}
                        <a href="{% url 'usuario:editar_perfil' %}" class="btn btn-outline-primary btn-sm">Editar Perfil</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    {% if usuario_alvo.usuario.perfil_completo %} 
                    <!-- basicamente toda a lógica de css e html para aparecer as informações do usuario -->
    <h4 class="card-title">Sobre Mim</h4>
    <p>{{ usuario_alvo.usuario.sobre|default:"Nenhuma informação preenchida." }}</p>

    <h4 class="card-title mt-4">Contato</h4>
    
    {% if usuario_alvo.usuario.Telefone %}
        <p class="d-flex align-items-center">
            <i class="mdi mdi-phone mr-2"></i> {{ usuario_alvo.usuario.Telefone }}
        </p>
    {% endif %}

    <div class="d-flex align-items-center flex-wrap">
        {% if usuario_alvo.usuario.Instagram %} <a href="{{ usuario_alvo.usuario.Instagram }}" target="_blank" class="text-secondary mr-3 mb-2"><i class="mdi mdi-instagram" style="font-size: 24px;"></i></a> {% endif %}
        {% if usuario_alvo.usuario.Facebook %} <a href="{{ usuario_alvo.usuario.Facebook }}" target="_blank" class="text-secondary mr-3 mb-2"><i class="mdi mdi-facebook" style="font-size: 24px;"></i></a> {% endif %}
        {% if usuario_alvo.usuario.X %} <a href="{{ usuario_alvo.usuario.X }}" target="_blank" class="text-secondary mr-3 mb-2"><i class="mdi mdi-twitter" style="font-size: 24px;"></i></a> {% endif %}
        {% if usuario_alvo.usuario.Youtube %} <a href="{{ usuario_alvo.usuario.Youtube }}" target="_blank" class="text-secondary mr-3 mb-2"><i class="mdi mdi-youtube" style="font-size: 24px;"></i></a> {% endif %}
        {% if usuario_alvo.usuario.Github %} <a href="{{ usuario_alvo.usuario.Github }}" target="_blank" class="text-secondary mr-3 mb-2"><i class="mdi mdi-github-circle" style="font-size: 24px;"></i></a> {% endif %}
        {% if usuario_alvo.usuario.LinkedIn %} <a href="{{ usuario_alvo.usuario.LinkedIn }}" target="_blank" class="text-secondary mr-3 mb-2"><i class="mdi mdi-linkedin" style="font-size: 24px;"></i></a> {% endif %}
        {% if usuario_alvo.usuario.Kwai %} <a href="{{ usuario_alvo.usuario.Kwai }}" target="_blank" class="text-secondary mr-3 mb-2"><strong>Kwai</strong></a> {% endif %} {% if usuario_alvo.usuario.Tiktok %} <a href="{{ usuario_alvo.usuario.Tiktok }}" target="_blank" class="text-secondary mr-3 mb-2"><i class="mdi mdi-tiktok" style="font-size: 24px;"></i></a> {% endif %}
        {% if usuario_alvo.usuario.Telegram %} <a href="{{ usuario_alvo.usuario.Telegram }}" target="_blank" class="text-secondary mr-3 mb-2"><i class="mdi mdi-telegram" style="font-size: 24px;"></i></a> {% endif %}
        {% if usuario_alvo.usuario.Whatsapp %} <a href="{{ usuario_alvo.usuario.Whatsapp }}" target="_blank" class="text-secondary mr-3 mb-2"><i class="mdi mdi-whatsapp" style="font-size: 24px;"></i></a> {% endif %}
    </div>

    <h4 class="card-title mt-4">Localização</h4>
    <p> {{ usuario_alvo.usuario.cidade }} - {{ usuario_alvo.usuario.estado }}: {{ usuario_alvo.usuario.bairro }}, {{ usuario_alvo.usuario.logradouro }}, {{ usuario_alvo.usuario.numero }}.</p>
    {% if usuario_alvo.usuario.detalhamento %}<p><em>{{ usuario_alvo.usuario.detalhamento }}</em></p>{% endif %}

{% else %}
    <div class="text-center">
                            <h4 class="card-title">Perfil Incompleto</h4>
                            <p>Nada por aqui.</p>

                            {% if user == usuario_alvo %}
                            <p>Complete seu perfil para que outros possam te conhecer melhor.</p>
                            <a href="{% url 'usuario:editar_perfil' %}" class="btn btn-primary mt-3">Completar Perfil Agora</a>
                            {% endif %}
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
          {% endblock %}




