{% extends 'componentes/interno/base.html' %}

{% block content %}
<div class="content-wrapper">
    <div class="col-md-8 grid-margin stretch-card mx-auto">
        <div class="card">
            <div class="card-body text-center">
                <h4 class="card-title">Confirmar Exclusão</h4>
                <p>Você tem certeza que deseja excluir a categoria permanentemente?</p>
                <h5 class="text-danger font-weight-bold">"{{ categoria }}"</h5>
                <p class="card-description mt-3">
                    Atenção: Esta ação não pode ser desfeita.
                </p>
                
                <form method="POST">
                    {% csrf_token %}
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-danger mr-2">Sim, Excluir</button>
                        <a href="{% url 'categoria:gerenciar_categorias' %}" class="btn btn-dark">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}