{% extends 'componentes/interno/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-wrapper">
    <div class="col-md-8 grid-margin stretch-card mx-auto">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Alterar Produto: "{{ produto.nome }}"</h4>
                <p class="card-description">Faça as alterações necessárias e salve.</p>
                
                <form class="forms-sample" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary mr-2">Salvar Alterações</button>
                        <a href="{% url 'produto:gerenciar_produtos' %}" class="btn btn-dark">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}