{% extends 'componentes/interno/base.html' %}

{% block content %}
<div class="content-wrapper">
    <div class="col-md-8 grid-margin stretch-card mx-auto">
        <div class="card">
            <div class="card-body text-center">
                <h4 class="card-title">Confirmar Exclusão</h4>
                <!-- porque "item" é pra parte de adm, e produto é pra parte do user, é o mesmo template, o mesmo vale para listar e gerenciar produtos respectivamente-->
                {% if item %}
                    <p>Você tem certeza que deseja excluir o item permanentemente?</p>
                    <h5 class="text-danger font-weight-bold">"{{ item.nome }}"</h5>
                {% else %}
                    <p>Você tem certeza que deseja excluir o produto permanentemente?</p>
                    <h5 class="text-danger font-weight-bold">"{{ produto.nome }}"</h5>
                {% endif %}

                <p class="card-description mt-3">
                    Atenção: Esta ação não pode ser desfeita.
                </p>
                
                <form method="POST">
                    {% csrf_token %}
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-danger mr-2">Sim, Excluir</button>
                        
                        {% if perms.produto.view_produto %}
                            <a href="{% url 'produto:listar_produtos' %}" class="btn btn-dark">Cancelar</a>
                        {% else %}
                            <a href="{% url 'produto:gerenciar_produtos' %}" class="btn btn-dark">Cancelar</a>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}