 {% load static %}
 <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        
        <a class="navbar-brand" href="{% url 'pagina-inicial' %}"><img src="{% static 'página_inicial/assets/img/navbar-logo.png' %}" alt="..." /></a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="#services">Tutorial</a></li>
                <li class="nav-item"><a class="nav-link" href="#portfolio">Ofertas</a></li>
                <li class="nav-item"><a class="nav-link" href="#team">Equipe</a></li>
                <li class="nav-item"><a class="nav-link" href="#Sobre">Sobre</a></li>
      </ul>

      <form class="d-flex" role="search" action="{% url 'search' %}" method="GET">
    <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search" name="q">
    <button class="btn btn-outline-light" type="submit">❮</button>
</form>

      <!--  Nav para quando o usuário estiver logado no sistema-->

      <ul class="navbar-nav ms-auto">
    {% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          
          {% if user.usuario.get_image_base64 %}
                <img src="data:image/jpeg;base64,{{ user.usuario.get_image_base64 }}"
                     class="rounded-circle"
                     style="width: 32px; height: 32px; object-fit: cover; margin-right: 10px;">
            {% else %}
                <i class="fas fa-user-circle fa-2x" style="margin-right: 10px;"></i>
            {% endif %}
          
          {{ user.get_full_name|default:user.username }}
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="{% url 'usuario:perfil' %}">Meu Perfil</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'usuario:logout' %}">Sair</a></li>
        </ul>
      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'usuario:login' %}">Entrar</a>
      </li>
    {% endif %}
</ul>
      </div>
  </div>
</nav>