{% extends 'componentes/interno/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-wrapper">
    <div class="col-md-8 grid-margin stretch-card mx-auto">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Criar Novo Catálogo</h3>

                <form class="forms-sample" method="POST"
                    enctype="multipart/form-data">
                    {% csrf_token %}

                    <div
                        class="form-group d-flex flex-column align-items-center">
                        <label class="font-weight-bold d-block">Thumbnail do
                            Catálogo</label>
                        <img id="thumbnail-preview" src="data:image/jpeg;base64,{{ catalogo.get_image_base64 }}" style="display: block;" alt="Prévia da imagem" class="mb-3">
                        <i id="icon-placeholder" class="mdi mdi-image-area"
                            style="font-size: 100px; color: #444; display: none;"></i>
                    </div>

                    {{ form.IMG|as_crispy_field }}
                    {{ form.nome|as_crispy_field }}
                    {{ form.descricao|as_crispy_field }}
                    {{ form.empresa|as_crispy_field }}
                    {{ form.categoria|as_crispy_field }}

                    <div class="text-center mt-4">
                        <button type="submit"
                            class="btn btn-primary mr-2">Criar
                            Catálogo</button>
                        <a href="{% url 'usuario:perfil' %}"
                            class="btn btn-dark">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    #thumbnail-preview {
        width: 180px;
        height: 180px;
        object-fit: cover;
        border-radius: 15px; /* Bordas arredondadas */
        border: 2px solid #444;
        background-color: #2A3038;
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const fileInput = document.getElementById('id_thumbnail');
    const imagePreview = document.getElementById('thumbnail-preview');
    const iconPlaceholder = document.getElementById('icon-placeholder');

    if(fileInput) {
        fileInput.addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block';
                    if (iconPlaceholder) iconPlaceholder.style.display = 'none';
                };
                reader.readAsDataURL(file);
            }
        });
        
    }

    $('.select2-field').select2({
        placeholder: "Selecione uma categoria",
        allowClear: true
    });

});
</script>
{% endblock %}
