{% extends 'componentes/interno/base.html' %}

{% block content %}
<div class="content-wrapper">
  <div class="row justify-content-center">
    <div class="col-lg-11 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Gerenciamento de Catálogos</h4>
          <p class="card-description">Lista de todos os catálogos do sistema.</p>
          {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
      {% endif %}

          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Dono</th>
                  <th>Empresa</th>
                  <th>Thumbnail</th>
                  <th>Título</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for catalogo in catalogos %}
                <tr>
                  <td>{{ catalogo.empresa.responsavel.get_full_name|default:catalogo.empresa.responsavel.get_username }}</td>
                  <td>{{ catalogo.empresa.nome|default:"-" }}</td>
                  <td>
                    <img class="img-thumbnail" src="data:image/jpeg;base64,{{ catalogo.get_image_base64 }}" alt="{{ catalogo.nome }}" style="width: 80px; height: 80px; object-fit: cover; border-radius: 5px;">
                  </td>
                  <td>{{ catalogo.nome }}</td>
                  <td>
                    <a href="{% url 'catalogo:detalhe_catalogo' catalogo.pk %}" class="btn btn-info btn-sm" title="Visualizar Detalhes">
                        <i class="mdi mdi-eye"></i>
                    </a>
                    <a href="{% url 'catalogo:excluir_catalogo' catalogo.pk %}" class="btn btn-danger btn-sm" title="Excluir Catálogo">
                    <i class="mdi mdi-delete"></i>
                      </a>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="5" class="text-center py-4">Nenhum catálogo encontrado no sistema.</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
