{% load static %}
<footer class="footer">
    <div class="container-fluid">
        <div class="row align-items-center">

            <div class="col-md-4 text-center text-md-start">
                <span class="text-muted d-block">
                    Copyright &copy; Vitrine 2025
                </span>
            </div>

            <div class="col-md-4 text-center my-2 my-md-0">
                <a href="https://github.com/cecilia-elen/TrabalhoPsw" target="_blank" class="text-secondary" aria-label="Github">
                    <i class="mdi mdi-github-circle" style="font-size: 28px;"></i>
                </a>
            </div>

            <div class="col-md-4 text-center text-md-end">
                </div>
            
        </div>
    </div>
</footer>
