 {% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div
          class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="{% url 'pagina-inicial' %}">
    <img src="{% static 'perfil/template/assets/images/logo.png' %}" alt="logo" class="logo-principal" />
</a>
          <a class="sidebar-brand brand-logo-mini"
            href="{% url 'pagina-inicial' %}"><img
              src="{% static 'perfil/template/assets/images/logo-mini.png' %}"
              alt="logo" /></a>
        </div>
        
        <ul class="nav">
          <li class="nav-item profile">
          </li>

          <li class="nav-item nav-category">
            <span class="nav-link">Navegação</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link"
              href="{% url 'usuario:perfil' %}">
              <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
              </span>
              <span class="menu-title">Meu Perfil</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            {% if user.empresa %}
            <a class="nav-link"
              href="{% url 'empresa:gerenciar_empresa' %}">
              <span class="menu-icon">
                <i class="mdi mdi-home-modern"></i>
              </span>
              <span class="menu-title">Empresas</span>
            </a>
            {% else %}
            <a class="nav-link"
              href="{% url 'empresa:gerenciar_empresa' %}">
              <span class="menu-icon">
                <i class="mdi mdi-home-modern"></i>
              </span>
              <span class="menu-title">Empresas</span>
            </a>
            {% endif %}
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link"
              href="{% url 'catalogo:visualizar_catalogos' %}">
              <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
              <span class="menu-title"> Meus Catálogos</span>
            </a>
          </li>
          
          <li class="nav-item menu-items">
            <a class="nav-link"
              href="{% url 'produto:gerenciar_produtos' %}">
              <span class="menu-icon">
                <i class="mdi mdi-cart-plus"></i>
              </span>
              <span class="menu-title"> Meus Produtos</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#auth"
              aria-expanded="false" aria-controls="auth">
              <span class="menu-icon">
                <i class="mdi mdi-wrench"></i>
              </span>
              <span class="menu-title">Configurações</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link"
                    href="{% url 'usuario:editar_perfil' %}">
                    Personalizar Perfil </a></li>
                <li class="nav-item"> <a class="nav-link"
                    href="{% url 'usuario:visualizar_usuario' %}">
                    Dados da Conta</a></li>
                <li class="nav-item"> <a class="nav-link"
                    href="{% url 'usuario:excluir_confirmacao' %}"> Excluir
                    Perfil</a></li>
              </ul>
            </div>
          </li>
          {% if user.is_staff %}
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#aut"
              aria-expanded="false" aria-controls="aut">
              <span class="menu-icon">
                <i class="mdi mdi-worker"></i>
              </span>
              <span class="menu-title">Administração</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="aut">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link"
                    href="{% url 'usuario:listar_usuarios' %}">
                    Gerenciar Usuarios </a></li>
                <li class="nav-item"> <a class="nav-link"
                    href="{% url 'empresa:listar_empresas' %}">
                    Gerenciar Empresas </a></li>
                <li class="nav-item"> <a class="nav-link"
                    href="{% url 'produto:listar_produtos' %}">
                    Gerenciar Produtos</a></li>
                <li class="nav-item"> <a class="nav-link"
                    href="{% url 'catalogo:listar_catalogos' %}">Gerenciar Catálogos</a></li>
                    <li class="nav-item"> <a class="nav-link"
                    href="{% url 'categoria:gerenciar_categorias' %}">Gerenciar Categorias</a></li>
              </ul>
            </div>
          </li>
           {% endif %}
        </nav>

        <!--Estilos para ajustar a logo do site que ficou bugada aqui-->
<style>
  .sidebar .sidebar-brand-wrapper .sidebar-brand.brand-logo {
  height: 140px;
  padding: 0;
}

.sidebar .sidebar-brand-wrapper .sidebar-brand.brand-logo img {
  max-height: 100%; 
  max-width: 100%; 
  height: auto;  
  width: auto;
}
</style>
